body {
    padding-top: 10px;
    padding-bottom: 20px;
    background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png) repeat 0 0;
}

.td-buttons form {
    display: inline-block;
}

.container form input {
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    margin: 2px;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}
