{% extends "layout.html" %}
{% block title %}AWS S3 Objects{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12-xs">
            <h3>Bucket Contents</h3>
            <p>Created: {{ my_bucket.creation_date | datetimeformat }}</p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="bg-info" style="padding: 15px;">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}
            <hr>


            <form action="/upload" class="upload-form" method="POST" enctype="multipart/form-data">
                <input title="Username" placeholder="Username" type="text" name="user_name" required><br>
                <input title="Password" placeholder="Password" type="text" name="pass_word" required><br>
                <p><input type="file" name="file"> </p>
                <button type="submit" name="submit" class="btn btn-primary">Upload</button>
            </form>
            <hr>

            

            <table class="table table-striped">
                <tr>
                    <th>Filename</th>
                    <th>Last Modified</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                {% for f in files %}
                <tr>
                    <td>{{ f.key }}</td>
                    <td>{{ f.last_modified | datetimeformat }}</td>
                    <td>{{ f.key | file_type }}</td>
                    <td class="td-buttons">
                        <form action="{{ url_for('delete') }}" class="delete-form" method="POST">
                            <input type="hidden" name="key" value="{{ f.key }}">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </form>
                        <form action="{{ url_for('download') }}" class="download-form" method="POST">
                            <input type="hidden" name="key" value="{{ f.key }}">
                            <button type="submit" class="btn btn-default btn-sm">
                                <i class="fa fa-download"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock %}